html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "left right";
  gap: 1rem;
  padding: 1rem;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.logo {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
  width: 50%;
  align-self: end;

}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
}

ul {
  text-decoration: underline;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

a {
  color: #fff;
}

nav, h2 {
  font-family: "Patua One", sans-serif;
}

h2 {
  color: #30658d;
}

main {
  display: contents;
}

main:first-child {
  grid-area: left;
}

main:nth-child(2) {
  grid-area: right;
}

figure {
  margin: 0;
}
